
:root{
  --dark: #34495e;
  --light: #fff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications{
  position: fixed;
  top:30px;
  right: 20px;
}
.notifications .toast{
  width: 400px;
  list-style: none;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background-color: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s forwards;
}
@keyframes show_toast {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-5%);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-10px);
  }
}
.toast .column i{
  font-size: 1.75rem;
}
.toast.hide{
  animation: hide_toast 0.3s forwards;
}

@keyframes hide_toast {
  0%{
    transform: translateX(-10%);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-5%);
  }
  100%{
    transform: translateX(calc(100% + 20px));
  }
}

.toast .column span{
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child{
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover{
  color: var(--dark);
}
.toast::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0;
  }
}
.toast.success::before, .btn#success{
  background-color: var(--success);
}
.toast.error::before, .btn#error{
  background-color: var(--error);
}
.toast.warning::before, .btn#warning{
  background-color: var(--warning);
}
.toast.info::before, .btn#info{
  background-color: var(--info);
}

.toast.success .column i{
  color: var(--success);
}
.toast.error .column i{
  color: var(--error);
}
.toast.warning .column i{
  color: var(--warning);
}
.toast.info .column i{
  color: var(--info);
}
.buttons .btn{
  border: none;
  outline: none;
  color: var(--light);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
}

@media screen and (max-width: 530px) {
  .notifications{
    width: 95%;
  }

  .notifications .toast{
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn{
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }

}